# --- Segurança ---
# Chave secreta para assinatura dos tokens JWT
JWT_SECRET=sua-chave-secreta-aqui

# --- Banco de Dados ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bicos
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# CORS Config
ALLOWED_ORIGINS=http://meuapp.com